<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileConfunder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FileConfunder.Properties.Settings>
            <setting name="OpenWithPath" serializeAs="String">
                <value>C:\Program Files\MPC-HC\mpc-hc64.exe</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>4096</value>
            </setting>
            <setting name="Key" serializeAs="String">
                <value>fnwrkUFPnw9GuxubyIrQu+5ENJND3g947zsmcknbAYQ=</value>
            </setting>
        </FileConfunder.Properties.Settings>
    </applicationSettings>
</configuration>